
<%@ page import="com.gamews.domains.GameWSUser" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'gameWSUser.label', default: 'GameWSUser')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-gameWSUser" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-gameWSUser" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${facebookFriends}" status="i" var="friends">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
						<td>${friends?.fbUUID}</td>
						<td>${friends?.fullName}</td>
						<td><img src="https://graph.facebook.com//${friends?.fbUUID}/picture" height="40"/></td>
					</tr>
				</g:each>
				</tbody>
			</table>
		</div>
	</body>
</html>
